<div class="cntct container">
    <h1>Contact Us</h1>
    <form class="frm-ct">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control mb-3" id="name" placeholder="Masukan Nama" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control mb-3" id="email" placeholder="Masukan Email" required>
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="frm-ta form-control " id="message" rows="5" placeholder="Pesan anda . . . " required></textarea>
        </div>
        <button type="submit" class="bindx btn">Submit</button>
    </form>
</div>