<!-- <div class="in-con container">
    <h1>Welcome to the Home Page!</h1>
    <p>This is the home page of our application.</p>
    
</div> -->
<div class="image-post">
    <div class="image-in">
        <img src="/images/ft1.jpeg" alt="Sabar" id="image1">
        <a href="/contact" class="bindx btn ">Go to Contact Page</a>
    </div>
</div>
