.card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 0;
    
}

.form-card {
    width: 425px;
    background-color: rgb(33, 37, 41);
    border-radius: 15px;
    margin: 110px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px hsl(183, 47%, 85%);
}
.logo{
    width: 100px; 
    border: 2px solid;
    border-color: hsla(0, 0%, 90%, 0.244);
    border-radius: 50%;
}

.form-control{
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #495057;
    background-color: whitesmoke;
    outline: none;
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;    
}

.form-control:focus {
    border-color: hsl(183, 47%, 85%);
    box-shadow: 0 0 8px hsl(183, 47%, 85%);
}

.tlg{
    color: rgb(167, 186, 203);
}

.tlg:hover{
    color: hsl(183, 47%, 85%);;
}
