.crd-ls{
    padding: 20px;
    background-color: rgb(33, 37, 41);
    border-radius: 15px;
}

#newTask{
    height: 37px;
    border-radius: 8px;
}

.card {
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 4px hsl(183, 47%, 85%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.05); /* Membesarkan card sedikit */
    box-shadow: 0 8px 16px hsl(183, 47%, 85%);
}
.card-body{
    width: 350px;
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-subtitle {
    font-size: 0.875rem;
    color: #6c757d;
}
.btn-ad{
    width: 100%;
}
.btn-at{
    margin-bottom: 10px;
}

.btn-al{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn-cr {
    width: 200px;
    color: aliceblue;
    background-color: #5a5563;
    border: none; 
    border-radius: 8px;
}
.btn-cr:hover{
    color: hsl(183, 47%, 85%);
    background-color: #4e4b54;
} 

.modal-content{
    background-color: rgb(33, 37, 41);
}

.btn-close{
    background-color: #5a5563;
}
.btn-close:hover{
    background-color: hsl(183, 47%, 85%);
}